<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h2>Sample counties in kenya</h2>
    <table border="5">
        <tr>
            <th>County</th>
            <th>Capital</th>
            <th>Population</th>
            <th>Region</th>
        </tr>
        <tr>
            <td>Nairobi</td>
            <td>Nairobi</td>
            <td>1.5M</td>
            <td>Nairobi</td>
        </tr>
        <tr>
            <td>Makueni</td>
            <td>Wote</td>
            <td>0.7M</td>
            <td>Eastern</td>
        </tr>
        <tr>
            <td>Mombasa</td>
            <td>Mombasa</td>
            <td>1.1M</td>
            <td>Coast</td>
        </tr>
        <tr>
            <td>Nakuru</td>
            <td>Nakuru</td>
            <td>0.7M</td>
            <td>Rift Valley</td>
        </tr>
        <tr>
            <td>Meru</td>
            <td>Meru</td>
            <td>0.5M</td>
            <td>Eastern</td>
        </tr>
    </table>
    <br>
    <a href="/">Home</a>
</body>
</html>